/* 
    Theme: SEO Landing Page
    Version: 1.0
    Author: Aakash Sharma
*/

/* Importing Fonts */
@import url('fonts.css');
@import url('variable.css');

*,
*::after,
*::before{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    padding: var(--section-vertical-padding) 0;
    overflow: hidden;
}

header{
    padding: var(--header-vertical-padding) 0;
    border: 1px solid var(--light-bg-color);
    position: sticky;
    top: 0;
    background-color: var(--white-color);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,ol{
    list-style-type: none;
}

object, svg{
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

a{
    text-decoration: none;
    color: currentColor;
    transition: all 0.4s ease-in-out;
}

a:hover{
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

button{
    background: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-align: center;
    padding: 10px 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 250ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

button:hover,
button:focus{
    background: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

button:active{
    background: var(--primary-color);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

body{
    font-size: 16px;
    font-family: var(--body-font-family);
    color: var(--body-font-color);
    line-height: 1.4;
    letter-spacing: -0.04px;
    background: var(--white-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font-family);
    line-height: 1.4;
    color: var(--primary-color);
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 18px;
}

/* CSS For Header */

.desktopheader{
    display: block;
}

.mobileheader{
    display: none;
}

.headerflexbox {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
    gap: 10px;
}

.headerlogobox{
    padding-right: 20px;
}

.headermenubox ul {
    display: flex;
    align-items: center;
}

.headermenubox ul li {
    display: block;
    padding: 0 5px;
}

.headermenubox ul li a {
    display: block;
    padding: 10px 8px;
    line-height: 1;
    font-family: 'Montserrat Medium';
}

.contactctabuttonbox {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.contactbox {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.contactbox .contacticon {
    flex: 0 0 auto;
    max-width: 16px;
}

.ctabuttonbox button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    font-family: "Montserrat Medium";
    font-weight: 500;
}

span.buttonicon {
    display: block;
    flex: 0 0 auto;
    max-width: 16px;
}

span.buttonicon svg path {
    fill: #fff;
}

.contactcontent a{
    font-family: "Montserrat Medium";
    color: var(--primary-color);
}

.contactcontent a:hover,
.contactbox:hover .contactcontent a,
.contactbox:hover .contacticon svg path{
    color: var(--secondary-color);
    fill: var(--secondary-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.contactbox .contacticon svg path {
    fill: var(--primary-color);
    transition: all 0.4s ease-in-out;
}

/* CSS For Hero Section */

.herosectionbox {
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
}

.herosectioncontentbox {
    flex: 0 0 auto;
    max-width: 45%;
}

.herosectionimagebox {
    flex: 0 0 auto;
    max-width: calc(55% - 40px);
}

.herosectiontagbutton span {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
}

.herosectiontagbutton {
    margin-bottom: 10px;
}

.herosectioncontent h1 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.herosectioncontent p {
    font-size: 20px;
    padding-right: 20px;
    max-width: 85%;
    margin-bottom: 30px;
    line-height: 1.4;
}

.herosectionctabtnflexbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.herosectionpricingbutton button,
.herosectionpricingbutton button:active{
    background: var(--primary-color);
}

.herosectionpricingbutton button:hover,
.herosectionpricingbutton button:focus{
    background: var(--secondary-color);
}

/* CSS For Brands Section */

.partnerflexboxcontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.partnertitlebox {
    flex: 0 0 25%;
    max-width: 25%;
}

.partnertitlebox h3 {
    font-size: 20px;
    color: var(--body-font-color);
}

.partnerflexbox {
    flex: 0 0 calc(75% - 20px);
    max-width: calc(75% - 20px);
    display: flex;
    gap: 10px;
}

.partnerflexitem {
    flex: 0 0 calc((100% - 30px)/4);
    max-width: calc((100% - 30px)/4);
    padding: 10px;
}

.partnerflexitem img {
    filter: grayscale(1);
    max-width: 110px;
    margin: auto;
}

/* CSS For Services */

.servicesbtncontainer div {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 20px auto 0;
    position: relative;
    cursor: pointer;
    max-width: max-content;
    transition: all 0.4s ease-in-out;
}

.servicesbtncontainer div:hover span.buttontext{
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

.servicesbtncontainer div:hover span.buttonicon svg path{
    fill: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

section.services-section.section {
    background: var(--light-bg-color);
}

.sectiontitlebox {
    text-align: center;
    margin: 0 auto 30px;
    max-width: 700px;
    padding: 0 var(--section-horizontal-padding);
    position: relative;
}

.servicesbtncontainer div span.buttontext {
    font-weight: 600;
    font-size: 14px;
}

.servicesbtncontainer div span.buttonicon svg path {
    fill: var(--body-font-color);
}

.servicesbtncontainer div span.buttonicon {
    display: flex;
}

.sectiontitlebox p {
    margin-top: 10px;
}

.sectiontitlebox:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/pie-chart.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}

.sectiontitlebox:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../images/speaker.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}

.servicesflexboxcontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.servicesflexitembox {
    flex: 0 0 calc((100% - 80px)/5);
    max-width: calc((100% - 80px)/5);
}

.servicesflexitem {
    padding: 20px;
}

.servicesiconboxcontainer {
    padding-bottom: 15px;
}

.servicesiconbox {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 60px;
    height: 60px;
    padding: 12px;
    background: #fde9ec;
    border-radius: 50%;
    box-shadow: 0 0 1px 0px var(--secondary-color);
    margin: auto;
    transition: all 0.4s ease-in-out;
}

.servicesiconboxcontent h3 {
    font-size: 18px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.servicesflexitem:hover{
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.servicesflexitem:hover .servicesiconbox{
    transform: translateY(-1px);
    box-shadow: 0px 1px 1px 0px var(--secondary-color);
}

.servicesflexitem:hover .servicesiconboxcontent h3{
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

/* CSS for Image with Text Section */

.imagewithtextflexboxcontainer {
    display: flex;
    gap: 40px;
}

.imagewithtextimagebox {
    flex: 0 0 45%;
    max-width: 45%;
}

.imagewithtextcontentbox {
    flex: 0 0 calc(55% - 40px);
    max-width: calc(55% - 40px);
}

.imagewithtextcontentbox h2 {
    max-width: 65%;
    position: relative;
    margin: 0 0 10px;
}

.imagewithtextcontentbox p {
    max-width: 80%;
    margin: 0 0 20px;
}

.imagewithtextctabuttoncontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
    max-width: 80%;
}

.imagewithtextctabuttonitem {
    flex: 0 0 calc((100% - 20px)/3);
    max-width: calc((100% - 30px)/3);
}

.imagewithtextctabuttonitem span {
    padding: 10px;
    border-radius: 20px;
    display: block;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    color: var(--primary-color);
    font-size: 14px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 1px 1px var(--secondary-color);
}

.imagewithtextctabuttonitem:hover span,
.imagewithtextctabuttonitem:first-child span {
    background: var(--secondary-color);
    color: var(--white-color);
    transform: translateY(-1px);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 1px 1px 0px var(--secondary-color);
    cursor: pointer;
}

.imagewithtextcontentbox h2:after {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    background-image: url("../images/target.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* CSS For Number Details Section */

section.number-details-section.section {
    background-color: var(--light-bg-color);
}

.numberdetailsflexboxcontainer {
    display: flex;
    gap: 40px;
}

.numberdetailsflexitembox {
    flex: 0 0 calc((100% - 80px)/3);
    max-width: calc((100% - 80px)/3);
}

.numberdetailsflexitem {display: flex;gap: 20px;}

.numberdetailsnumberbox {
    flex: 0 0 10%;
    max-width: 10%;
}

.numberdetailscontentbox {
    flex: 0 0 calc(90% - 20px);
}

.numberdetailscontentbox h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.numberdetailsnumberbox span {
    font-weight: 700;
    font-family: var(--heading-font-family);
    font-size: 48px;
    line-height: 1;
    display: block;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary-color);
}

/* CSS For Tabbed Image with Text Section */

.tabbed-image-with-text-tab-box {
    padding-bottom: 40px;
}

.tabbed-image-with-text-tab-box ul.tabs {
    max-width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow: 4px 8px 8px 1px var(--light-bg-color);
}

.tabbed-image-with-text-tab-box ul.tabs li.tab {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    position: relative;
    cursor: pointer;
}

.tabbed-image-with-text-tab-box ul.tabs li.active.tab {
    font-weight: 600;
    color: var(--secondary-color);
}

.tabbed-image-with-text-tab-box ul.tabs li.active.tab:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -5px;
    left: 0;
}

[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
    display: block;
}

.tabbedimagewithtextflexboxcontainer {
    display: flex;
    gap: 40px;
}

.tabbedimagewithtextimagebox {
    flex: 0 0 45%;
    max-width: 45%;
}

.tabbedimagewithtextcontentbox {
    flex: 0 0 calc(55% - 40px);
    max-width: calc(55% - 40px);
}

.tabbedimagewithtextsubtag span {
    font-weight: 600;
    color: var(--secondary-color);
}

.tabbedimagewithtextcontent {
    padding-top: 10px;
}

.tabbedimagewithtextcontent h2 {
    max-width: 55%;
    position: relative;
    margin-bottom: 20px;
}

.tabbedimagewithtextcontent p {
    max-width: 75%;
    padding-right: 20px;
}

.tabbedimagewithtextcontent h2:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    bottom: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#websiteoptimization .tabbedimagewithtextcontent h2:after{
    background-image: url("../images/good-feedback.png");
}

#searchmarketing .tabbedimagewithtextcontent h2:after{
    background-image: url("../images/social-reach.png");
    right: 0;
    height: 30px;
}

#contentstrategy .tabbedimagewithtextcontent h2:after{
    background-image: url("../images/content-strategy.png");
    bottom: 6px;
}

/* Image with Text Accordion */

.image-with-accordion-content{
    background-color: var(--light-bg-color);
}

.image-with-accordion-content .imagewithtextcontentbox h2 {
    max-width: 75%;
}

.image-with-accordion-content .imagewithtextcontentbox h2:after{
    background-image: url("../images/online-shop.png");
    width: 35px;
    height: 35px;
}

.imagewithtextaccordionbox .accordion-single  {
    border-bottom: 1px solid #efefef;
    margin: 10px 0 0;
    max-width: 75%;
}

.accordion-single-title {
    border-top: 1px solid #efefef;
    padding: 8px 6px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    margin: 0;
}

.imagewithtextaccordionbox .accordion-single .accordion-single-item:first-child .accordion-single-title {
    border-top: none;
}

.accordion-single-title::after{
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px var(--body-font-color);
    border-right: solid 2px var(--body-font-color);
    transform: translateY(-50%) rotate(135deg);
}
  
.accordion-single-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.accordion-single-item .accordion-single-title:hover{
    background: #ffe8eb;
    color: var(--secondary-color);
}

.accordion-single-item .accordion-single-title:hover::after{
    border-top: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

.accordion-single-item.is-open .accordion-single-title {
    background: #ffe8eb;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}
  
.accordion-single-content p {
    padding: 10px;
    font-size: 14px;
    max-width: 100%;
}
  
.accordion-single-item.is-open .accordion-single-content  {
    max-height: inherit;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
  
.accordion-single-item.is-open .accordion-single-title::after  {
    transform: translateY(-50%) rotate(315deg);
    border-top: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    transition: all 0.4s ease-in-out;
}

/* CSS For SEO Pricing Section */

.pricing-title-box {
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    max-width: 75%;
    margin: auto;
}

.pricing-title-box::before{
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/startup.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pricing-title-box::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/social-media-icons.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.plan-subtitle-box {
    margin-bottom: 10px;
}

.plan-subtitle-box span {
    font-weight: 600;
    color: var(--secondary-color);
    display: block;
    line-height: 1;
}

.pricing-title-box h2 {
    margin-bottom: 10px;
}

.pricing-title-box p {
    max-width: 65%;
    margin: auto;
}

.pricing-flex-table-box-container {
    display: flex;
    gap: 40px;
    padding: 40px 20px;
    align-items: start;
}

.pricing-flex-item-box {
    flex: 0 0 auto;
    max-width: calc((100% - 80px)/3);
    border-radius: 4px;
    padding: 40px 20px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

section.pricing-section.section {
    background: linear-gradient(180deg, var(--white-color) 75%, var(--tertiary-color) 100%);
}

.pricing-flex-icon-box {
    max-width: 80px;
    margin: 0 auto 30px;
    transform: rotate(-5deg);
}

.pricing-flex-icon-box img {
    filter: drop-shadow(0px 0px - var(--primary-color));
}

.pricing-flex-item-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.pricing-flex-item-box p {
    max-width: 75%;
    margin: 0 auto 20px;
}

.pricing-flex-price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 30px;
}

.pricing-flex-price-box span.currency-logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}

span.pricing-main-price {
    font-size: 64px;
    color: var(--primary-color);
    font-weight: 700;
    font-family: var(--heading-font-family);
}

span.pricing-frequency {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    display: block;
    margin-left: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pricing-feature-flex-box {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.pricing-feature-icon-box {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    background: var(--secondary-color);
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-key-features-item-box {
    margin-bottom: 4px;
}

.pricing-feature-content-box span {
    font-size: 14px;
}

.pricing-key-features-box {
    margin-bottom: 20px;
}

.pricing-choose-button-box button {
    margin: auto;
}

.pricing-flex-item-box:nth-child(2n) {
    background: var(--primary-color);
    margin-top: -40px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
}

.pricing-flex-item-box:nth-child(2n) h3,
.pricing-flex-item-box:nth-child(2n) p,
.pricing-flex-item-box:nth-child(2n) span.pricing-main-price,
.pricing-flex-item-box:nth-child(2n) span.pricing-frequency,
.pricing-flex-item-box:nth-child(2n) .pricing-feature-content-box span{
    color: var(--white-color);
}

/* Image with Text 2 Section */

.imagewithtextsection2 .imagewithtextcontentbox h2 {
    max-width: 75%;
}

.imagewithtextsection2 .imagewithtextcontentbox h2:after{
    background-image: url("../images/internet.png");
    right: 20%;
}

.imagewithtextsection2 .imagewithtext-list-flex-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.imagewithtextsection2 .imagewithtext-list-flex-box .imagewithtext-list-iconbox {
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    background-color: var(--secondary-color);
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.imagewithtextsection2 .imagewithtext-list-itembox {
    margin-bottom: 4px;
}

/* CSS For CTA Section */

.cta-section-container {
    max-width: 75%;
    margin: auto;
    padding: 0px 15px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.cta-section-container:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    box-shadow: #94bbe9 0px 0px 150px 75px;
    z-index: -1;
}

.cta-section-container:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    box-shadow: #94bbe9 0px 0px 150px 75px;
    z-index: -1;
}

.cta-section-img-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.cta-section-img-flex-item-box {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid var(--secondary-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.cta-section-img-flex-item-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.cta-section-title-container h2 {
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

span.cta-image-content-flex-box {
    display: flex;
    gap: 4px;
    justify-content: center;
}

span.cta-image-box {
    max-width: 48px;
    flex: 0 0 auto;
}

.cta-section-title-container h2 {
    max-width: 75%;
    margin: 0 auto 10px;
}

span.cta-image-content-flex-box {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

span.cta-image-box {
    max-width: 34px;
    flex: 0 0 auto;
}

.cta-section-content-desc-container p {
    max-width: 65%;
    margin: 0 auto 30px;
}

.cta-section-button-container button {
    margin: auto;
}

/* CSS For Footer */
.mainfooter.section {
    background-color: var(--primary-color);
    padding: 50px 0;
    color: var(--white-color);
}

.footerflexbox {
    display: flex;
    gap: 20px;
}

.footerflexitembox {
    flex: 0 0 calc((100% - 60px)/4);
    max-width: calc((100% - 60px)/4);
}

.footerlogo {
    max-width: 180px;
    margin: 0 0 20px;
}

.footeraboutcontent {
    padding: 0 15px 20px 0;
}

.footeraboutcontent p {
    font-size: 15px;
}

.footersocialflexbox {
    display: flex;
    gap: 10px;
}

.footersocialflexitembox a {
    display: block;
    max-width: 16px;
}

.footersocialflexitembox {
    flex: 0 0 auto;
    max-width: calc((100% - 30px)/4);
}

.footermenutitle h3 {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footeraddresscontent {
    padding-bottom: 20px;
}

.footercontactitemflexbox {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.footercontacticonbox {
    flex: 0 0 auto;
    max-width: 16px;
}

.footermenucontainer ul li {
    margin-bottom: 4px;
}

.copyright {
    padding: 10px 0;
}

.copyrightflexbox {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.copyrightcontentbox p {
    font-size: 14px;
}

.copyrightcontentbox p a {
    font-weight: 600;
    color: var(--primary-color);
    transition: all 0.4s ease-in-out;
}

.copyrightcontentbox p a:hover {
    transition: all 0.4s ease-in-out;
    color: var(--secondary-color);
}

.policyflexbox {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.policyflex-item {
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

.policyflex-item a{
    font-size: 14px;
}

.policyflex-item:not(:last-child):after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: var(--primary-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* CSS For Responsive */

@media (max-width: 1024px) {
    .desktopheader{
        display: none;
    }
    
    .mobileheader{
        display: block;
        position: relative;
    }

    .mobileheader .headerflexbox {
        display: flex;
        justify-content: space-between;
    }
    
    .mobileheader .headerlogobox {
        max-width: 200px;
    }
    
    .mobileheader .headermenuiconbox {
        max-width: 16px;
        cursor: pointer;
    }
    
    .mobileheader .mobilemenucontainer {
        position: absolute;
        top: -10px;
        left: 0;
        padding: 40px 20px;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        z-index: 99;
        overflow: hidden auto;
        transform: translateX(calc(-100% - 15px));
        transition: all 0.4s ease-in-out;
    }

    .mobileheader .headermenubox ul {
        display: block;
    }

    .mobileheader .headermenubox ul li a{
        color: var(--white-color);
    }
    
    .mobileheader .contactctabuttonbox {
        padding: 20px 0 0 0;
        display: block;
    }
    
    .mobileheader .contactctabuttonbox .contactbox {
        margin-bottom: 20px;
    }

    .mobileheader .contactctabuttonbox .contactbox .contacticon svg path{
        fill: var(--secondary-color);
    }

    .mobileheader .contactctabuttonbox .contactbox .contactcontent a{
        color: var(--white-color);
    }

    .mobilemenucrossbutton {
        position: absolute;
        right: 10px;
        top: 10px;
        max-width: 16px;
        cursor: pointer;
    }

    .mobileheader .mobilemenucontainer.menuactive {
        transform: unset;
        transition: all 0.4s ease-in-out;
    }
}